h1,
h2,
h3,
h4,
p,
ul,
li {
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

.list {
    list-style: none;
    padding-inline-start: 0px;
}

.link {
    text-decoration: none;
}